.сontent {
    height: 100%;
    margin: 0 auto;
    padding: 1rem var(--sides-padding);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
}

.drawerRoot :global(.ant-drawer-content-wrapper) {
    width: 100% !important;
}

.button {
    margin-right: 1rem;
}

.button:last-child {
    margin-right: 0;
}

.rangePicker {
    width: 100%;
}

/*Tablet and desktop styles*/
@media (min-width: 768px) {
    .drawerRoot :global(.ant-drawer-content-wrapper) {
        width: 40rem !important;
    }
}
