.launches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.cardLoading :global(.ant-card-cover) {
    width: 16rem;
    height: 16rem;
}

.cardLoading :global(.ant-card-body) {
    height: 10rem;
}
