:root {
    font-size: 16px;

    --text-primary: #182135;
    --text-secondary: #818181;

    --bg-primary: #3772FF;
    --bg-secondary: #F8F8F8;

    --bg-sider: #4E73DF;
    --bg-main: #F2F2F7;

    --sider-width: 20rem;
    --header-height: 4rem;
    --sides-padding: 1rem;
    --max-width: 1440px;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html[data-theme="dark"] {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 0.33rem;
}

*::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 1rem;
}

*::-webkit-scrollbar-corner {
    background-color: gainsboro;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 1rem;
}

menu,
ul,
ol {
    margin: 0;
    list-style-type: none;
}

ul {
    padding: 0;
}

a,
a:hover {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

/* Mobile first, desktop below */
.layout {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-color: white;
    z-index: 10;

    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);

    flex-shrink: 0;
}

.main {
    width: 100%;
    background-color: var(--bg-main);
    flex-grow: 1;
    overflow: auto;
}

.footer {
    height: var(--header-height);
    width: 100%;
    position: sticky;
    z-index: 900;
    bottom: 0;

    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);
}

/*Tablet and desktop styles*/
@media (min-width: 768px) {
    :root {
        --sides-padding: 5rem;
    }

    .header {}

    .main {}
}
